<!DOCTYPE html>
<title>添加贷款</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
    <header>
        <h1 style="text-align:center;">添加贷款</h1>
    </header>
    <body>
    <center>
        <a href="/loanManage/">返回</a>
        <hr>
        <form action="/addsloan/" method="post">
            <h1>请输入添加的信息</h1>
            <table>
                <tr>
                    <td>贷款号*(4位):</td>
                    <td><input type="text" name="loanID"><br></td>
                </tr>
                <tr>
                    <td>所贷金额*:</td>
                    <td><input type="text" name="money"><br></td>
                </tr>
                <tr>
                    <td>发放银行*:</td>
                    <td><select name="bank">
                        <option value ="Beijing branch">Beijing branch</option>
                        <option value ="Shanghai branch">Shanghai branch</option>
                        <option value="Hefei branch">Hefei branch</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td>客户*:</td>
                    <td><input type="text" name="cusID"><br></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" ,value="确定"></td>
                </tr>

            </table>
        </form>
    </center>
    </body>
</section>

